.every {
    display: inline-block;
    max-width: 200px;
    text-align: center;;
}

.mothership div {
    border: 1px solid salmon;
    margin: 10px;
}

.defenceship div {
    border: 1px solid sandybrown;
    margin: 10px;
}

.attackship div {
    border: 1px solid seagreen;
    margin: 10px;
}