h1, div, p {
  font-family: 'VT323', monospace;
}

.motherShip {
  /* background-color: greenyellow; */
  /* color: white; */
  text-align: center;
}

.defenceShip {
  /* background-color: teal; */
  /* color: white; */
  text-align: center;
}

.attackShip {
  /* background-color: tomato; */
  /* color: white; */
  text-align: center;
}

#images {
  width: 20px;
  padding: 3px;
}

#header {
  background-color: #33ff66;
}

#body {
  background-color: #00ff66;
}

#button {
  background-color: #ffb000;
}

#buttonTwo {
  background-color: #bd9702;
}
